<%- include('partials/header.ejs') %>

  <body>
    <%- include('partials/navbar.ejs') %>
      <section class="my-5">
        <div class="w-75 m-auto">
          <h5 class="text-center">License status</h2>
            <div class="container-fluid">
              <form class="my-5 row" method="get">
                <div class="form-group col-4">
                  <label for="testType">Filter by test type:</label>
                  <select id="testType" name="testType" onchange="filterList()" class="form-select"
                    aria-label="Apply Filter">
                    <option selected>Select to apply filter</option>
                    <option value="G2">G2</option>
                    <option value="G">G</option>
                  </select>
                </div>
              </form>
              <div class="table-responsive">
                <% if (driverList && driverList.length> 0) { %>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Car Model</th>
                        <th scope="col">Car Year</th>
                        <th scope="col">Car Plate No</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>

                      <% for (const driver of driverList) { %>
                        <tr>
                          <th scope="row">
                            <%= driver.firstname %>
                              <%= driver.lastname %>
                          </th>
                          <td>
                            <%= driver.model %>
                          </td>
                          <td>
                            <%= driver.year %>
                          </td>
                          <td>
                            <%= driver.plat_no %>
                          </td>
                          <td>
                            <%= driver.status %>
                          </td>
                        </tr>
                        <% } %>

                    </tbody>
                  </table>
                  <% } else { %>
                    <p class="text-center">No Results to show. Please clear filter if you have apply.</p>
                    <% } %>
              </div>
            </div>
        </div>
      </section>

      <script>
        function filterList() {
          const value = document.getElementById('testType').value;
          console.log('value', value);
        }
      </script>
  </body>
  <%- include('partials/footer.ejs') %>